/* ------------------------------------------------------------------------ */
/* SOCIAL ICONS
/* ------------------------------------------------------------------------ */

.social-icon {
	display: inline-block;
	margin: 0 5px 5px 0;
	background-color: #f8f8f8 !important;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	overflow: hidden;
	width: 40px;
	height: 40px;
}
.social-icon a {
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.social-icon a:hover {
	background-color: #444444;
	background-position: 0px -40px !important;
}
.social-icons ul {
	list-style: none;
	margin: 0 0 -1px 0;
	float: right;
}
.social-icons ul li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
.social-icons ul li a {
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	display: block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.social-icons a:hover {
	background-color: #cccccc;
	background-position: 0px -40px !important;
	opacity: 1;
}
.social-email a {
	background: url(../images/social/icons/email.png) no-repeat 0 0
}
.social-email a:hover {
	background-color: #c01f31
}

.social-facebook a {
	background: url(../images/social/icons/facebook.png) no-repeat 0 0
}
.social-facebook a:hover {
	background-color: #3b5998
}
.social-twitter a {
	background: url(../images/social/icons/twitter.png) no-repeat 0 0
}
.social-twitter a:hover {
	background-color: #48c4d2
}

.social-youtube a {
	background: url(../images/social/icons/youtube.png) no-repeat 0 0
}
.social-youtube a:hover {
	background-color: #f45750
}

.social-instagram a {
	background: url(../images/social/icons/instagram.png) no-repeat 0 0
}
.social-instagram a:hover {
	background-color: #517FA4
}












